<div class="card">
    <h5 class="card-header text-left bg-dark">Astronomical constants</h5>
    <div class="card-body">
        <p class="text-dark text-left"><small>Astronomical Unit  (AU) = 1.50x10<sup>11</sup> m</small></p>
        <p class="text-dark text-left"><small>Light year (ly) = 9.5x10<sup>15</sup> m </small></p>
        <p class="text-dark text-left"><small>Parsec (pc) = 3.26 ly</small></p>
        <p class="text-dark text-left"><small>Earth radius (R⊕) = 6.4x10<sup>6</sup> m</small></p>
        <p class="text-dark text-left"><small>Earth mass (M⊕) = 5.97x10<sup>24</sup> kg</small></p>
        <p class="text-dark text-left"><small>Solar mass (M☉) = 2x10<sup>30</sup> kg</small></p>
        <p class="text-dark text-left"><small>Solar radius (R☉) = 6.95x10<sup>8</sup> m</small></p>
    </div>
</div>