<header>
    <nav class="navbar navbar-light bg-transparent">
        <div class="">
            <a class="navbar-brand text-light font-weight-bold" href="/#">Space Catalogue</a>
        </div>
        <form class="form-inline" action="/search" method="get">
            <input class="form-control mr-sm-2" type="search" placeholder="Search By Name" name="searchByName" value="" aria-label="Search">
            <button class="btn btn-outline-danger my-2 my-sm-0" name="button" type="Submit">Search</button>
        </form>
    </nav>
</header>