<!DOCTYPE html>
<html lang="en" dir="ltr">

<%- include('head') %>

<body>
<div class="p-5"
	 style="background:transparent url('https://upload.wikimedia.org/wikipedia/commons/f/f6/Antennae_galaxies_xl.jpg')
	      no-repeat center center /cover">

	<%- include('header') %>

	<div class="p-5 mt-3 bg-transparent text-light text-center"
		 style="min-height:100vh">
		<div class="jumbotron bg-light" style="opacity: .7">
			<h2 class="display-4 text-left text-dark font-weight-bold">Welcome to our Space catalogue!</h2>
			<p class="text-left text-dark text-dark font-weight-bold">
				Here you can find information on all sorts of space objects ranging from asteroids to stars!<br>
				You only need to write in the top right corner a name of a space object or you can simply search by type</p>

			<hr class="my-4 row">
			<h4 class="text-dark text-center m-3">Advanced Search</h4>
				<form action="/search/" method="GET">
					<div class="form-group">
					<div class="form-inline mx-auto">
						<select class="mx-auto form-control w-25 m-2" name="celestBody" id="celestBody" style="opacity: 1">
							<option class="text-center" value="" disabled selected>Select a celestial body type</option>
							<option name="star" value="star">Star</option>
							<option name="planet"value="planet">Planet</option>
							<option name="moon" value="moon">Moon</option>
							<option name="asteroid"value="asteroid">Asteroid</option>
							<option name="comet" value="comet">Comet</option>
							<option name="belt" value="belt">Belt</option>
						</select>
					</div>

					<div class="mx-auto" id="star">
						<select class="mx-auto form-control w-25 m-2" name="spectralType" style="opacity: 1">
							<option class="text-center" value="" disabled selected>Select a spectral type</option>
							<option name="A" value="A">A</option>
							<option name="B" value="B">B</option>
							<option name="F" value="F">F</option>
							<option name="G" value="G">G</option>
							<option name="K" value="K">K</option>
							<option name="M" value="M">M</option>
							<option name="O" value="O">O</option>
						</select>
						<input type="checkbox" class="custom-control-input" id="customControlAutosizing" name="binarySystem">
						<label class="custom-control-label text-dark" for="customControlAutosizing">Binary Systems</label>
					</div>
					<div class="mx-auto" id="planet">
						<input class="mx-auto form-control w-25 m-2" type="search" placeholder="Host star" name="host" aria-label="Search">
						<input class="mx-auto form-control w-25 m-2" type="search" placeholder="Number of rings" name="rings" aria-label="Search">
					</div>
					<div class="mx-auto" id="moon">
						<input class="mx-auto form-control w-25 m-2" type="search" placeholder="Name of a planet" name="orbits" aria-label="Search">
					</div>

					<div class="mx-auto" id="cometAndAsteroid">
						<input class="mx-auto form-control w-25 m-2" type="search" placeholder="Discoverer" name="discoverer" aria-label="Search">
						<input class="mx-auto form-control w-25 m-2" type="search" placeholder="Year of discovery" name="yearDiscovered" aria-label="Search">
					</div>

					<br/>
					<button class="btn btn-outline-danger my-2 my-sm-0" name="button" type="Submit" value="submit">Search</button>
			</div>
			</form>
			<hr class="my-4">
			<p class="text-left text-dark">This project was made by Natacha Levesque and Lee Carrier-Coupal for CS457 Database Software Design<br>
				We built the front-end, the back-end and the database all from the ground up as it serves as a great learning experience</p>
			<a href="https://github.com/natachalevesque/databaseProject/tree/master/views?fbclid=IwAR0q5kuGNpfhI63GkZe_QVV3UU9V4VFTX-ls3sicwROBCt1WQQSyjEfPOlQ">
				<button type="button" class="btn btn-outline-danger float-left">GitHub Repository</button>
			</a>
		</div>
	</div>
</div>
</body>
</html>