<!DOCTYPE HTML>
<html>
	<%- include('head') %>
	<body>

		<form action="/search">
		  Celestial Body type: <br/>
		  <select name="celestBody">
			  <option selected name="star" value="star">Star</option>
			  <option selected name="planet"value="planet">Planet</option>
			  <option selected name="comet" value="comet">Comet</option>
			  <option selected name="asteroid" value="asteroid">Asteroid</option>
			  <option selected name="moon" value="moon">Moon</option>
			  <option selected name="celestialbody" value="celestialbody">Any</option>
			  <br/><br/>
		  </select>
		  <br/>
			name: <br/>
		  <input type="text" name="name">
			<br/><br/>
			<input type="submit" value="Submit">
		</form>

	</body>
</html>